* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Georgia;
  color: #4e7082;  /* Sötét: #275557, Közepes: #89f5c0, Világos: #ffffff */
}

body {
  background-color: #f7fcfc;  
}
a {
  text-decoration: none;
	font-size: 1.10em;
}
.pages {
	padding: 15%;
	padding-top: 5%;
	padding-bottom: 0%;
}
h1 {
	font-size: 2.00em;
}
.h1-main-page {
	font-size: 3.00em;
}
h2 {
	font-size: 1.25em;
}
#goal-h2 {
   font-size: 1.50em;
   text-align: center;
   margin-top: 5%;
}
h3 {
	font-size: 1.05em;
	margin-top: 0.5%;
	font-weight: normal;
}
p {
	font-size: 1.05em;
	line-height: 1.50em;
}
.p-main-page {
   font-size: 1.80em;
}

.drop-menu-name {
	font-size: 1.10em;
}

#header {
  background-color: #D7E7EA;
	padding-top: 10px;
	padding-bottom: 10px;
}
#logo {
  width: 8%;
  margin-left: 10%;
  margin-right: 20%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.dropdown {
		display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
		z-index: 1;
		
		border-radius: 3%;
    background-color: #ffffff;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 10px;
}
#third-drop {
	  display: none;
    position: absolute;
		z-index: 1;
		
		border-radius: 3%;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 10px; 
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover #third-drop {
    display: block;
}
.dropdown-menu {	
	margin: 5%;
}
#first-menu {
  margin-right: 2%;
  font-weight: 600;
}
#second-menu {
  margin-right: 2%;
  font-weight: 600;
}
#third-menu {
  margin-right: 2%;
  font-weight: 600;
}
#fourth-menu {
  margin-right: 2%;
  font-weight: 600;
}
#fifth-menu {
  margin-right: 2%;
  font-weight: 600;
}
#sixth-menu {
	font-weight: 600;	
}


#banner {
  background-color: #D7E7EA;
  width: 100%;
  height: 500px;
}


#visualization {
  text-align: center;
  padding-top: 5%;
}
#visualization-content {
   margin-top: 3%;
}
.visualization-description {
	margin-top: 1%;
	text-align: center;
}

#areas {
   margin-top: 9%;
   margin-bottom: 1%;
}
.areas-image {
	width: 20em;
   margin-left: 8.55em;
}
#areas-buttons {
   margin-bottom: 4%;
}
#areas-text1 {
	 display: inline-block;
    font-weight: bold;
	 text-align: center;
	 font-size: 2.00em;
	 width: 22%;
    margin-left: 8.5%;
}
#areas-text2 {
   display: inline-block;
	text-align: center;
	 font-size: 2.00em;
	 width: 22%;
    margin-left: 8.5%;
   font-weight: bold;
}
#areas-text3 {
   display: inline-block;
	text-align: center;
	 font-size: 2.00em;
	 width: 22%;
    margin-left: 8%;
   font-weight: bold;
}


#goals-content {
   margin: 12%;
   margin-top: 9%;
   margin-bottom: 9%;
}
#goals-ul {
   margin-top: 5%;
   margin-left: 4%;
}
.goals-li {
   margin-top: 5%;
   font-size: 1.25em;
   font-weight: bold;
}


#main-staff-page {
	width: 90%;
	margin-top: 1%;
	margin-left: 3%;
	margin-bottom: 5%;
}
.main-staff-content {
	margin-top: 5%;
}
.main-staff-writing {
	display: inline-block;
	width: 50%;
	margin-left: 5%;
	position: relative; top: -30px;	
}
.main-staff-image {
	width: 32%;
	height: 40%;
	display: inline-block;
	border-radius: 5%;
}
#main-staff-image1 {
	margin-left: 9%;
}
#main-staff-image3 {
	margin-left: 9%;
}
.main-bekesi-writing {
	margin-left: 9%;
}
#main-staff-image2 {
	margin-left: 5%;
}

.staff-button {
	margin-top: 7%;
	padding: 1%;
	font-size: 1.60em;
	font-weight: bold;
	background-color: #d7e7ea;
	width: 20%;
	margin-left: 40%;
	text-align: center;
	border-radius: 5%;
	display: block;
}


.staff-adress {
	text-align: center;
}
.staff-content {
   margin-top: 10%;
}
.staff-image {
	width: 28%;
	height: 35%;
	display: inline-block;
	border-radius: 5%;
}
.staff-writing {
	display: inline-block;
	width: 50%;
	margin-left: 10%;
}
.bekesi-image {
   margin-left: 0%;
}
.staff-text {
	margin-top: 5%;
}
.staff-writing2 {
	margin-top: 4%;
}
.staff-p-space {
   margin-top: 2%;
}
#staff-paragraph9 {
	margin-top: 4%;
}
#staff-paragraph10 {
	margin-top: 2%;
}
.staff-ul {
	margin-left: 3%;
	margin-top: 1%;
}
#bekesi-image {
	margin-left: 5%;
}
.staff-h3 {
	margin-top: 3%;
}
#staff-paragraph18 {
	margin-top: 3%;
}
#staff-paragraph20 {
	margin-top: 3%;
}





#opinions { 
  margin-top: 8%;
  text-align: center;
}
#opinions-adress {
	padding-right: 20px;
}
#opinions-description {
	width: 90%;
	margin-top: 3%;
	margin-left: 5%;
}
.customer {
	display: inline-block;
	padding: 3%;
}
.customer-image {
	width: 200px;
	height: 250px;
	border-radius: 50%;
}
.customer-writing {
		width: 300px;
		margin: 10px;
}
.customer-text {
	padding-top: 20px;
}

#connection {
   margin-top: 8%;
   text-align: center;
   font-weight: bold;
}
#connection-description {
	padding-top: 5%;
	padding-bottom: 2%;
}
#map {
	border-radius: 5%;
	display: inline-block;
}
#connection-writing {
	display: inline-block;
	position: relative; top: -30px;
}
.connection-text {
	margin-left: 50px;
	text-align: left;
	font-size: 1.25em;
}
#enterprise-name {
	font-size: 1.50em;
	padding-bottom: 5%;
}
#adress {
	padding-bottom: 30px;
}
#email {
	padding-bottom: 30px;	
}
#phone-number {
	padding-bottom: 30px;
}

table {
	width: 80%;
	text-align: center;
	margin-top: 3%;
	margin-bottom: 4%;
	margin-left: 10%;
}
td {
	padding: 1%;
	padding-left: 2%;
	padding-right: 2%;
	font-weight: bold;
	font-size: 1.05em;
}
caption {
	margin-bottom: 4%;
	font-size: 2.00em;
}
.time {
	width: 55%;
}
#opening-text {
	text-align: center;
	margin-bottom: 5%
}
#opening-text1 {
	margin-bottom: 2%;
}

#prices {
	margin-top: 5%;
}
#prices-caption {
	margin-bottom: 1%;
}
#prices-table {
	text-align: left;
}
#prices-table-text {
	text-align: center;
}
.main {
	font-size: 1.25em;
	padding-top: 5%;
}
.property {
	font-size: 1.10em;
	font-weight: normal;
}
#prices-text {
	width: 74%;
	margin-left: 13%;
}
.prices-paragraph {
	margin-top: 3%;
}

#footer {
  background-color: #D7E7EA;
	height: 200px;
	padding-top: 200px;
	text-align: center;
	margin-top: 10%;
	
}

.vt-page-paragraph {
	margin-top: 25px;
}
.vt-page-adress {
	margin-top: 70px;
}
#vt-page-paragraph1 {
	margin-top: 50px;
}
#vt-page-paragraph7 {
	margin-top: 40px;
}
#vt-page-paragraph9 {
	margin-top: 40px;
}
#vt-page-paragraph12 {
	margin-top: 10px;
}
#vt-page-paragraph14 {
	margin-top: 10px;
}
#vt-page-paragraph15 {
	margin-top: 10px;
}
#vt-page-paragraph16 {
	margin-top: 10px;
}
#vt-page-paragraph17 {
	margin-top: 40px;
}
#vt-page-paragraph18 {
	margin-top: 40px;
}
#vt-page-paragraph24 {
	margin-top: 40px;
}
#vt-page-paragraph31 {
	margin-top: 60px;
}
#vt-page-paragraph32 {
	font-weight: 600;
	font-size: 0.90em;
}


.vt-for-children-paragraph {
	margin-top: 25px;
}
.vt-for-children-adress {
	margin-top: 70px;
}
#vt-for-children-ul {
	margin-top: 35px;
	margin-left: 40px;
}
.children-li {
	margin-top: 30px;
}
#vt-for-children-paragraph1 {
	margin-top: 40px;
}
#vt-for-children-paragraph3 {
	margin-top: 40px;
}
#vt-for-children-paragraph9 {
	margin-top: 80px;
}

.vt-for-adults-paragraph {
	margin-top: 25px;
}
.vt-for-adults-adress {
	margin-top: 70px;
}
#vt-for-adults-ul {
	margin-top: 35px;
	margin-left: 40px;
}
.adults-li {
	margin-top: 30px;
}
#vt-for-adults-paragraph1 {
	margin-top: 40px;
}
#vt-for-adults-paragraph3 {
	margin-top: 40px;
}
#vt-for-adults-paragraph8 {
	font-weight: 600;
	font-size: 0.90em;
}
#vt-for-adults-content3 {
	margin-top: 70px;
}

.vt-for-athletes-paragraph {
	margin-top: 25px;
}
#vt-for-athletes-paragraph1 {
	margin-top: 50px;
}
#vt-for-athletes-paragraph2 {
	margin-top: 40px;
	margin-left: 30px;
}
#vt-for-athletes-paragraph3 {
	margin-top: 40px;
}

.subpage {
  padding: 10%;
  padding-top: 7%;
  padding-bottom: 7%;
}
.ump-h1 {
  text-align: center;
}
.subpage-content {
   margin-top: 5%;
}
#list-adress {
	margin-top: 3%;
}
.ump-ul {
	margin-left: 3%;
	margin-top: 2%;
}

.for-pro {
  margin-bottom: 3%;
}
#for-pro-adress2 {
  margin-top: 5%;
}
#for-pro-ul {
  margin-bottom: 5%;
  margin-left: 3%;
}
.for-pro-li {
  margin-bottom: 2%;
}

.subpage {
  padding: 10%;
  padding-top: 7%;
  padding-bottom: 7%;
}
.ump-h1 {
  margin-bottom: 5%;
}
.ump-h2 {
  margin-bottom: 5%;
}
.ump-question {
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 3%;
}
.ump-poet {
  margin-bottom: 3%;
  font-style: italic;
}
.ump-answer {
  margin-bottom: 1%;
}
#ump-second-h2 {
  margin-top: 10%;
}
#ump-computer {
  margin-top: 2%;
}
.ump-li {
  margin-bottom: 1%;
}
#ump-table {
  margin-top: 3%;
}
#ump-third-h2 {
  margin-top: 10%;
}

.for-pro {
  margin-bottom: 3%;
}
#for-pro-adress2 {
  margin-top: 5%;
}
#for-pro-ul {
  margin-bottom: 5%;
  margin-left: 3%;
}
.for-pro-li {
  margin-bottom: 2%;
}
